* {
  box-sizing: border-box;
}

body {
  border: solid black;
  margin: auto; 
  width: 960px; 
}

header {
  border: solid red;
  padding: 10px;
}

main {
  border: solid yellow;
  padding: 10px; 
  width: 100%;
  background: gray;
  padding: 10px;
  height: 300px;
  position: relative;
  float: left;
}

h1 {
  border: solid orange;
  display: block; 
  text-align: center;
}

h2 {
  border: solid pink;
  display: inline-block;
}

footer {
  border: solid green; 
  padding: 10px; 
}

nav {
  float: right;
}

ul {
  border: solid blue;
  text-decoration: none;
  list-style: none;
  padding: 5px;
}

li {
  display: inline;
}

div {
  border: solid purple;
}

div {
  border: solid purple;
  width: 45%;
}

/* FLIP CARD CSS */
-

/* THE MAINCONTAINER HOLDS EVERYTHING */
.container {
    position: absolute;
    width: 250px;
    height: 320px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.flip-container {
    /* padding: 5px; */
    margin: 5px;
    position: relative;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    border-radius: 10px;
    border-color: black;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.flip-container:hover {
    transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #FFFAFA;
    opacity: .75;
    color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
/* TODO: MAKE SHOW CLICK FUNCTION INSTEAD OF MOUSEOVER */
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #FFFAFA;
    opacity: .60;
    color: #000;
    /* color: #333; */
    text-align: center;
    transform: rotateY(180deg);
}

.gina {
  float: left;
}

.jon {
  float: right;
}

.lyndsey {
  float: left;
}

.sarah {
  float: right;
}

