:root {
  --background-color: rgb(179, 177, 177);
  --color: rgb(179, 177, 177);
  --box-shadow: rgb(105, 105, 105);
  font-family: 'Varela Round', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto; 
  width: 100%; 
  font-family: sans-serif;
}

header {
  width: 100%;
  background-color: #A657AE;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  display: block; 
  text-align: center;
  font-size: 45px;
}

h2 {
  font-size: 35px;

}

nav {
  width: 100%;
  display: block;
  background-color: rgb(138, 29, 138);

}

a {
  padding: 0px 10px;
  float: right;
  font-size: 15px;
  display: block;
  list-style: none;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 10px;
  text-align: left;
}

a:link {
  color: rgb(0, 0, 0); 
}

a:visited {
  color: rgb(42, 42, 43); 
}
