/* :root {
  --background-color: rgb(179, 177, 177);
  --color: rgb(179, 177, 177);
  --box-shadow: rgb(105, 105, 105);
  font-family: 'Varela Round', sans-serif;
} */

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #A657AE;
  color: rgba(255, 255, 255, 0.87);
  overflow: hidden;
}

/* body {
  margin: auto; 
  width: 100%; 
  font-family: sans-serif;
} */


h1 {
  padding: 10px 0 0 0;
  display: block; 
  text-align: center;
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

nav {
  /* width: 100%; */
  float: right;
}

nav a {
  color: white;
}

a {
  padding: 0px 10px;
  font-size: 22px;
  display: inline-block;
  list-style: none;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 10px;
  text-align: left;
}

a:link {
  color: black; 
}

a:visited {
  color:black; 
}
