* {
  box-sizing: border-box;
  background-color: #FFFAFA;
}

body {
  /* border: solid black; */
  margin: auto; 
  width: 100%; 
  font-family: sans-serif;
}


h1 {
  display: block; 
  text-align: center;
  background: #ffbe0a;
  top: 0;
  height: 75px;
  margin: 0px;
}

/* footer {
  border: solid green; 
  padding: 10px; 
} */

ul {
  /* border: solid blue; */
  text-decoration: none;
  list-style: none;
  padding: 5px;
}

li {
  display: inline;
}

.front  {
  border: solid #990000 15px; 
  text-align: center;
  font-weight: bold;
  line-height: 75px; 
  font-size: 20px;
  background: #ffbe0a;
}

.back {
  border: solid #990000 15px; 
}

/* #status {
  border: solid pink;
  display: block;
} */

nav {
  float: right;
  display: block;
}

.container {
  width: 100%;
  /* background: rgb(241, 191, 191); */
  padding: 10px;
  height: 350px;
  position: relative;
  float: left;
  font-weight: bold;
}

.flip-container {
  display: inline-block;
  object-fit: contain;
}

.flip-card1 {
  float: left;
  width: 30%;
}

.flip-card2 {
  float: right;
  width: 30%;
}

.flip-card3 {
  float: right;
  width: 30%;
}



/* FLIP CARD CSS */ - 

/* THE MAINCONTAINER HOLDS EVERYTHING */
.container {
  position: absolute;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.flip-container {
  /* padding: 5px; */
  margin: 5px;
  position: relative;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  border-radius: 10px;
  border-color: black;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.flip-container:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .front{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffbe0a;
  opacity: .75; 
  color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
/* TODO: MAKE SHOW CLICK FUNCTION INSTEAD OF MOUSEOVER */
.back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffbe0a;
  opacity: .60; 
  color: #000;
  /* color: #333; */
  text-align: center;
  transform: rotateY(180deg);
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.front h1, .back h1{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.front p, .back p{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}